<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boxxymays.passbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.boxxymays.passbook.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.boxxymays.passbook.PassbookContainer"
            android:label="@string/title_activity_passbook_container" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.boxxymays.passbook.PassbookFront"
            android:label="@string/title_activity_passbook_front" >
        </activity>
        <activity
            android:name="com.boxxymays.passbook.PassbookBack"
            android:label="@string/title_activity_passbook_back" >
        </activity>
    </application>

</manifest>
